<!DOCTYPE html>
<html>

  <head>
      <!-- START head element -->

      <title>Alex's Portfolio Site</title>

      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- This is my main css file, keep at the bottom! -->

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

      <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand|Raleway" rel="stylesheet">

      <!-- Gridlex -->

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gridlex/2.2.4/gridlex.min.css">

      <link href="css/style.css" rel="stylesheet">
      <!-- END head element -->
  </head>

  <body>
  {{ content }}
  </body>

</html>
